{% extends "base.html"%}
{% block title%}Recipies{% endblock %}
{% block content%}
<br>
<h3 align="center">Recipe list</h3>
<div align="center" class="row">
    <div class="col-2"></div>
    <div class="col">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th> View</th>
            </tr>
            </thead>
            <tbody>
            {% for i in recipe_list%}
            <tr>
                {% for value in i %}
                <td>{{value}}</td>
                {% endfor %}
                <td>
                <a href="/view-recipe/{{i[0]}}" >View recipe</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-2"></div>
</div>
{%endblock%}

